{% extends 'base.html' %}

{% block content %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>


<form action="" method="POST">
    {% csrf_token %}
    <h3>Add comment:</h3>
    <textarea name="text" id="editor"></textarea>
    <input type="submit"/>
</form>

<script type="text/javascript">
    CKEDITOR.replace("editor");
</script>


{% endblock %}