{% extends 'base.html' %}

{% block content %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>


<form class="col-6 mx-auto" action="" method="POST">
    {% csrf_token %}
    <h3 class="m-2">Add comment:</h3>
    <textarea name="text" id="editor"></textarea>
    <input class="btn btn-primary m-2" type="submit"/>
</form>

<script type="text/javascript">
    CKEDITOR.replace("editor");
</script>


{% endblock %}