{% extends 'base.html' %}

{% block content %}
    <h2 class="mt-5">Welcome, {{ user.name }}</h2>
    {% if message %}
        <div class="col-2 mx-auto alert alert-info" role="alert">
            {{ message }}
        </div>
    {% endif %}
    {% if user.is_active == False %}
        <div class="col-2 mx-auto alert alert-danger" role="alert">
            You haven't verified your email!
        </div>
    {% endif %}


    <a class="btn btn-primary" href="/posts/">Feed</a>
    <a class="btn btn-primary" href="/new_post/">Create new post</a>
{% endblock %}