{% extends 'base.html' %}

{% block content %}
  <h1 class="mt-5 h3 mb-3 font-weight-normal">Please sign in</h1>
  {% if form.errors %}
    <div class="alert alert-info" role="alert">{{ form.errors }}</div>
  {% endif %}
  <form method="post" class="col-3 mx-auto">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
        {% load crispy_forms_tags %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Log in</button>
        <a class="btn btn btn-outline-primary" href="{% url 'register' %}">New to My Site? Sign up</a>
  </form>
{% endblock %}